In [10]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [25]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'2.3.3'

# Count records

In [16]:
df = pd.read_csv("car_fuel_efficiency.csv")
df.shape
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Count categories

In [17]:
fuel_counts = df["fuel_type"].value_counts()
print(fuel_counts)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

# Missing values

In [18]:
df.isnull().values.any()

np.True_

# Count Missing Values

In [19]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Maximum Fuel Efficiency

In [22]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

# Median

In [28]:
median_before = df['horsepower'].median()
most_frequent = df['horsepower'].mode()[0]
df['horsepower_filled'] = df['horsepower'].fillna(most_frequent)
median_after = df['horsepower_filled'].median()
median_after

np.float64(152.0)

# Sum of weights

In [29]:
# 1) select all cars from Asia
asia = df[df['origin'] == 'Asia']   # or 'Asia' / 'Asia' depending on your label

# 2) select only vehicle_weight and model_year
X_df = asia[['vehicle_weight', 'model_year']]

# 3) select first 7 values
X_df = X_df.iloc[:7]

# 4) underlying numpy array
X = X_df.to_numpy()   # shape (7, 2)

# 5) XTX = X.T @ X
XTX = X.T.dot(X)

# 6) invert XTX
XTX_inv = np.linalg.inv(XTX)

# 7) create y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8) compute w = XTX_inv @ X.T @ y
w = XTX_inv.dot(X.T).dot(y)

# 9) sum of all elements in w
result = w.sum()
print("w:", w)
print("sum(w):", result)

w: [0.01386421 0.5049067 ]
sum(w): 0.5187709081074006